@{
    Layout = "_Layout_Admin";
}
@model CollegeFinder.Areas.MST_Location.Models.MST_LocationViewModel

<div class="container-fluid">
    <div class="col-12">
        <!-- New City Form -->
        <div class="new-record-section mb-2" id="new-city-section">
            <div class="container" id="city-registration">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">City Registration Form</h4>
                        <form method="post" class="m-lg-4 mb-2" asp-area="MST_Location" asp-controller="LOC_City" asp-action="Save">
                            <input type="hidden" asp-for="@Model.CityModel.CityID" />
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-12">
                                    <!-- Select Country Name Field -->
                                    <div class="form-field mb-3">
                                        <label class="input-field-label form-label"><span class="text-danger mx-1">*</span>Select Country :</label>
                                        <select class="form-select" id="CountryDropdown" aria-label="Select Country" onchange="stateChange()" asp-for="@Model.CityModel.CountryID" asp-items="@(new SelectList(Model.CountryModelsList, "CountryID", "CountryName"))">
                                            <option selected disabled>Select Country</option>
                                        </select>
                                        <span class="form-text text-danger" asp-validation-for="@Model.CityModel.CountryID"></span>
                                    </div><!-- End Select Country Name Field -->
                                </div>
                                <div class="col-lg-6 col-12">
                                    <!-- Select State Name Field -->
                                    <div class="form-field mb-3">
                                        <label class="input-field-label form-label"><span class="text-danger mx-1">*</span>Select State :</label>
                                        <select class="form-select" id="StateDropdown" aria-label="Select State" asp-for="@Model.CityModel.StateID" asp-items="@(new SelectList(Model.StateModelsList, "StateID", "StateName"))">
                                            <option selected disabled>Select State</option>
                                        </select>
                                        <span class="form-text text-danger" asp-validation-for="@Model.CityModel.StateID"></span>
                                    </div><!-- End Select State Name Field -->
                                </div>
                                <div class="col-lg-6 col-12">
                                    <!-- City Name Field -->
                                    <div class="form-field mb-2">
                                        <label class="input-field-label form-label"><span class="text-danger mx-1">*</span>City Name :</label>
                                        <input type="text" class="input-field-box city-name form-control" id="cityName" placeholder="Enter city name..." asp-for="@Model.CityModel.CityName" />
                                        <span class="form-text text-danger" asp-validation-for="@Model.CityModel.CityName"></span>
                                    </div><!-- End City Name Field -->
                                </div>
                                <div class="col-lg-6 col-12">
                                    <!-- City Code Field -->
                                    <div class="form-field mb-2">
                                        <label class="input-field-label form-label">City Code :</label>
                                        <input type="text" class="input-field-box city-code form-control" id="cityCode" placeholder="Enter state code..." asp-for="@Model.CityModel.CityCode" />
                                    </div><!-- End City Code Field -->
                                </div>
                            </div>
                            <!-- Form Buttons -->
                            <div class="form-buttons">
                                <div class="row">
                                    <div class="col d-flex">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                    <div class="col text-end">
                                        <button type="submit" class="btn btn-outline-danger mx-lg-3" onClick="history.go(-1); return false;">Cancel</button>
                                    </div>
                                </div>
                            </div><!-- End Form Buttons -->
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End New City Form -->
        <!-- City List -->
        <div class="city-list-section">
            <div class="card shadow border-0">
                <div class="card-body pb-0">
                    <div class="display-list overflow-auto">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#&nbsp;</th>
                                    <th scope="col">Country Name</th>
                                    <th scope="col">State Name</th>
                                    <th scope="col">City Name</th>
                                    <th scope="col">City Code</th>
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Modified Date</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var city in Model.CityModelsList)
                                {
                                    <tr>
                                        <th><strong>@i</strong></th>
                                        <td>@city.CountryName?.ToString()</td>
                                        <td>@city.StateName.ToString()</td>
                                        <td>@city.CityName.ToString()</td>
                                        <td>@city.CityCode?.ToString()</td>
                                        <td>@Convert.ToDateTime(city.CreatedDate).ToString("dd MMM, yyyy")</td>
                                        <td>@Convert.ToDateTime(city.ModifiedDate).ToString("dd MMM, yyyy")</td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="btn btn-primary shadow" asp-area="MST_Location" asp-controller="LOC_City" asp-action="Update" asp-route-cityId="@city.CityID"><i class="bi-pencil-square"></i></a>
                                                <a class="btn btn-danger shadow ms-2" asp-area="MST_Location" asp-controller="LOC_City" asp-action="Delete" asp-route-cityId="@city.CityID"><i class="bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End State List -->
    </div>
</div>

<script>
    function stateChange() {
        var countryID = $("#CountryDropdown").val();
        var stateID = 0;
        $.ajax({
            url: "/MST_Location/LOC_State/GetStateListByCountryID", //  fetch states
            type: "GET",
            data: { CountryID: countryID }, // Pass the selected country ID
            dataType: "JSON",
            success: function (data) {
                var stateDropdown = $("#StateDropdown");
                console.log("StateID : " + stateID);
                console.log("CountryID: " + countryID);
                stateDropdown.empty();
                //if (stateID == 0) {
                    stateDropdown.append($('<option selected disabled>Select State</option>'));
                    $.each(data, function (index, state) {
                        stateDropdown.append($("<option></option>").val(state.stateID).text(state.stateName));
                    });
                //}
                //else {
                //    $.each(data, function (index, state) {
                //        if (state.stateID != stateID) {
                //            stateDropdown.append($("<option></option>").val(state.stateID).text(state.stateName));
                //        }
                //        else {
                //            stateDropdown.append($("<option selected></option>").val(state.stateID).text(state.stateName));
                //        }
                //    });
                //}

            },
            error: function () {
                console.log("Error fetching states.");
            }
        });
    }

    $(document).ready(function () {
        stateChange(); // Initialize the state dropdown based on the initial selected country

        $("#CountryDropdown").change(function () {
            stateChange();
        });

        var selectedCountryID = $("#CountryDropdown").val();
        if (selectedCountryID != null) {
            stateChange();
        }
    });
</script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}