@{
    Layout = "_Layout_Login_Register";
}
@model College_Finder.Areas.MST_User_Registration.Models.MST_User_LoginModel

<div class="col-lg-12">
    <section>
        <div class="container">
            <div class="user signin-box">
                <div class="img-box m-2">
                    <img src="~/img/signin-image.jpg" alt="" />
                </div>
                <div class="form-box">
                    <form method="post" asp-area="MST_User_Registration" asp-controller="MST_User_Registration" asp-action="Login">
                        <h2>Sign In</h2>
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <span class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["ErrorMessage"]))</span>
                        }
                        <input type="text" name="Username" id="Username" placeholder="Username or Email Address" asp-for="Username" />
                        <span class="form-text text-danger" asp-validation-for="Username"></span>
                        @*@if (TempData["UsernameError"] != null)
                        {
                            <span class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["UsernameError"]))</span>
                        }*@
                        <input type="password" name="Password" id="Password" placeholder="Password" asp-for="Password" />
                        <div><span class="form-text text-danger" asp-validation-for="Password"></span></div>
                        @*@if (TempData["PasswordError"] != null)
                        {
                            <div class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["PasswordError"]))</div>
                        }*@
                        <input type="submit" name="" value="Login" />
                        <p class="signup">
                            Don't have an account ?
                            <a href="#" onclick="toggleForm();">Sign Up.</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="user signup-box">
                <div class="form-box">
                    <form action="" onsubmit="return false;">
                        <h2>Create an account</h2>
                        <input type="text" name="" placeholder="Username" />
                        <input type="email" name="" placeholder="Email Address" />
                        <input type="password" name="" placeholder="Create Password" />
                        <input type="password" name="" placeholder="Confirm Password" />
                        <input type="submit" name="" value="Sign Up" />
                        <p class="signup">
                            Already have an account ?
                            <a href="#" onclick="toggleForm();">Sign in.</a>
                        </p>
                    </form>
                </div>
                <div class="img-box">
                    <img src="~/img/signup-image.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}