@{
    ViewData["Title"] = "Sign In - User";
    Layout = "_Layout_User";
}

@model CollegeFinder.Areas.MST_Users.Models.MST_UserModel

<div class="user signin-box">
    <div class="img-box m-2">
        <img src="~/img/signin-image.jpg" alt="" />
    </div>
    <div class="form-box">
        <form method="post" asp-area="MST_Users" asp-controller="MST_User" asp-action="UserLogin">
            <h2>Sign In</h2>
            @if (TempData["ErrorMessage"] != null)
            {
                <span class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["ErrorMessage"]))</span>
            }
            <input type="text" name="Username" id="Username" placeholder="Username or Email Address" asp-for="Username" />
            <span class="form-text text-danger" asp-validation-for="Username"></span>
            @*@if (TempData["UsernameError"] != null)
            {
            <span class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["UsernameError"]))</span>
            }*@
            <input type="password" name="Password" id="Password" placeholder="Password" asp-for="Password" />
            <div><span class="form-text text-danger" asp-validation-for="Password"></span></div>
            @*@if (TempData["PasswordError"] != null)
            {
            <div class="form-text text-danger">@Html.Raw(@Convert.ToString(TempData["PasswordError"]))</div>
            }*@
            <input type="submit" name="" value="Login" />
            <p class="signup">
                Don't have an account ?
                <a asp-area="MST_Users" asp-controller="MST_User" asp-action="SignUp">Sign Up.</a>
            </p>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}